{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "BEFrontBundle::layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cours
                <small>Category</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Acceuil</a></li>
                <li class="#">Cours</li><li class="active">Categories</li>
            </ol>
       </section>




{% endblock %}