{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "SLEtablissementBundle::layout.html.twig" %}

{% block title %}
    Accueil |
{% endblock %}

{% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tableau de Bord
                <small>ECOLITE</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Acceuil</a></li>
                <li class="#">Tableau de Bord</li>
            </ol>
       </section>




{% endblock %}